* {
  font-family: "Azeret Mono";
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
}

.vl1 {
  position: absolute;
  border-left: 5px solid #130707;
  height: 1200px;
  margin-left: 5%;
  width: 0;
}

.vl2 {
  position: absolute;
  border-left: 5px solid #130707;
  height: 1200px;
  margin-left: 95%;
  width: 0;
}
.hl1 {
  position: absolute;
  margin-top: 2vw;
  border-top: 5px solid #130707;
  width: 100vw;
  height: 0;
}
.hl2 {
  position: absolute;
  margin-top: 2%;
  border-top: 5px solid #130707;
  width: 100vw;
  height: 0;
}


.hero {
  margin-top: 2vw;
  margin-left: 8vw;
}


.abt {
  margin-top: 5%;
  margin-left: 8vw;
}

